body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.grid {
	overflow-x: hidden;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(5, auto);
	grid-template-areas: 
	"L  L  L  L  L"
	"T  T  T  T  T"
	"F  F  F  F  F"
	"S  S  B  .  ."
	"R  R  R  R  R"
	
}
.Login {
	grid-area: L;
}
.Fields {
	grid-area: F;
	display: flex;
	margin-bottom: 25px;
}
.Titles{
	grid-area: T;
	display: flex;
	justify-content: space-around;
}

.Fields {
	grid-area: F;
	display: flex;
	justify-content: space-around;
}

.Result {
	grid-area: R;
	display: flex;
	justify-content: space-around;
}
.Btn {
	grid-area: B;
	place-self: center;

}

.Save {
	grid-area: S;
	place-self: center;
}
.PwReset {
	grid-area: L;
	place-self: center;
	margin-top: 50px;
	
	flex-direction: column;
}
.SignUp {
	position: absolute;
	left: 25%;
	top: 20%;
	margin: 0 auto;
	width: 50%;
	height: 500px;
	z-index: 3;
	background-color: #2196f3;
	box-shadow: 5px 10px 10px #ccc;
}
.Hide {
	display: none;
}
.ModalOverlay {
	grid-column-start: 1;
	grid-column-end: 6;
	grid-row-start: 1;
	grid-row-end: 5;
}
.signUpForm {
	width: 25%;
	margin: 0 auto;
}
input {
	display: block;
	margin: 0 auto;
}
[data-cursor=true] {
cursor: pointer;
}